@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a14;
  --foreground: #f0f0ff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: system-ui, -apple-system, sans-serif;
}
